<input type="file" accept="image/*" hidden capture="camera" onclick="this.value = null" (change)="onFileSelection($event)" #uploadPrompt>

<div class="frame">
  <div class="content">
    <div class="container" style="height: 100%;">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>

        <div class="container">

          <div class="line"></div>

          <div class="button" (click)="buttonAttributes.fileDialog ? uploadPrompt.click() : navigateToRoute()">
            <img *ngIf="buttonAttributes.icon != 'none'" src={{buttonAttributes.icon}} style="height: 20px;"/>
            <div *ngIf="buttonAttributes.text != 'none'" style="height: 20px;padding-top: 3px">{{buttonAttributes.text}}</div>
          </div>
        </div>
  </div>
</div>

