
@-webkit-keyframes color-change-2x {
  0% {
    fill: #d04c00;
  }
  100% {
    fill: #ff7c00;
  }
}

.rainbow {
  -webkit-animation: color-change-2x 3.0s linear infinite alternate both;
  animation: color-change-2x 3.0s linear infinite alternate both;
}
